<%- include('../partials/header') -%>

<h1><%= title %></h1>

<h2><%= flight.airline %></h2>
<h2><%= flight.airport %></h2>
<h2><%= flight.flightNo %></h2>
<h2><%= flight.departs %></h2>
<h2>
  <% flight.destinations.forEach(function(destination) { %>
  <tr>
    | Destination:
    <td><%= destination.airport %></td>
    | Arrival Time:
    <td><%= destination.arrival %></td>
    <br />
  </tr>
  <% }); %>
</h2>

<form
  id="new-form"
  action="/flights/<%= flight._id %>/destination"
  method="POST"
>
  <label>Destination:</label>
  <select name="airport">
    <option value="DEN">Denver</option>
    <option value="LAX">Los Angeles</option>
    <option value="SAN">San Diego</option>
    <option value="DFW">Dallas Fort Worth</option>
    <option value="AUS">Austin</option>
  </select>

  <label>Arrival Date:</label>
  <input type="datetime-local" name="arrival" />

  <input type="submit" value="Add Destination" />
</form>

<form id="new-ticket" action="/tickets/<%= flight._id %>" method="POST">
  <label>Seat:</label>
  <input type="text" name="seat" />

  <label>Price: </label>
  <input type="number" name="price" />

  <input type="submit" value="Add Seat" />
</form>

<h2>Tickets</h2>
<% tickets.forEach(function(ticket) { %>

<tr>
  <td>Seat: <%= ticket.seat %></td>
  <td>Price: <%= ticket.price %></td>
</tr>

<% }) %> <%- include('../partials/footer') -%>
